    body {
        background-image: linear-gradient(90deg, rgb(26, 26, 231), transparent);
    }

    input {
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        width: 100%;
        outline: none;
    }

    input[type='button'],
    input[type='submit'] {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        max-width: 100px;
        background-color: var(--botao);
    }
    input[type='button'],
    input[type='submit'], label{
        font-weight: bolder;
        margin: 5px auto;
        color: white;
    }

    .message {
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #00000093;
        color: white;
        padding: 15px;
        border-radius: 5px;
        opacity: 0;
        max-width: 300px;
        width: 100%;
        transition: opacity 0.3s ease-in-out;
        box-shadow: 1px 1px 2px black;
        text-align: center;
    }

    input[type='text'] {
        border-radius: 15px;
        padding: 10px;

    }

    .message.show {
        opacity: 1;
    }

    div#empresa-section {
        text-align: center;
    }

    .custom-calendar {
        text-align: center;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    table {
        max-width: 100%;
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ddd;
        cursor: pointer;
        margin: auto;
    }

    th {
        background-color: #2196F3;
        color: white;
        font-weight: bold;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    td:hover {
        background-color: #f0f0f0;
        color: blue;
        box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.336);
        font-weight: bolder;
        border-radius: 10px;
        animation: teste .5s ease-in;
    }

    @keyframes teste {
        to {
            transform: rotate(0deg);
        }

        from {
            transform: rotate(360deg);
        }
    }


    #monthSelector {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
        outline: none;
    }

    .modal {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0%;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        overflow: auto;
        z-index: 1;
    }

    .modal-content {
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
        width: 100%;
        max-width: 400px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: auto;
        transform: translate(0%, 50%);
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    #cancelButton {
        background-color: rgb(235, 32, 32);
    }

    #dayMonthSelector {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    #daySelector,
    #monthSelector {
        flex-basis: 48%;
        margin-bottom: 10px;
        display: block;
    }

    /* Adicionado um estilo para ajustar o modal em telas menores */
    @media screen and (max-width: 400px) {
        .modal-content {
            width: 100%;
            max-width: none;
        }
    }

    /* Hora */
    .custom-time-picker {
        text-align: center;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .hour-selector {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        max-height: 200px;
        overflow-y: auto;
        background-color: var(--diversos);
        justify-content: center;
        max-width: 400px;
        width: 100%;
        margin: auto;
        border-radius: 10px;
    }