@charset "UTF-8";

.agenda {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  margin: 30px auto;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.24);
  color: white;
}

h1 {
  font-size: 24px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}



button {
  background-color: var(--botao);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.agendamentos {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  text-align: center;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

.agendamentos>div {
  margin: 10px;
  background-color: var(--section);
  max-width: 350px;
  border-radius: 30px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.16);
  text-align: center;
  padding: 20px;
}

.agendamentos>div p {
  margin: 10px auto;
}

.agendamentos h2 {
  margin: 0;
}

header #perfil {
  max-width: 50px;
  max-height: 50px;
  border-radius: 30px;
  border: 2px solid white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  width: 50px;
  height: 50px;
}

header {
  padding: 10px 20px;
}