@charset "UTF-8";

.agenda {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  margin: 30px auto;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.24);
  color: white;
}

h1 {
  font-size: 24px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

menu{
  display: none;
  align-items: stretch;
  justify-content: center;
  padding: 20px;
  top: 0%;
  left: 0%;
  max-width: 110px;
  width: 100%;
  background-color: var(--telaFundo);
  opacity: 0.9;
  position: absolute;
  z-index: 1;
  height: 100vh;
  animation: transicao 0.5s ease forwards;
  box-shadow: 3px 4px 20px 1px #0000008f;
}
menu ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
menu ul li{
  display: inline-block;
}
menu a{
  cursor: pointer;
  padding: 20px;
  white-space: nowrap;
}
menu ul li:nth-child(2) a{
  font-size: .8em;
  color: var(--botao);
  opacity: 0.9;
}
@keyframes transicao{
  to{
      opacity: 0.9;
      transform: translate(0%);
  }
  from{
      opacity: 0;
      transform: translate(-100%);
  }
}
#menu-after {
  content: 'X';
  display: block;
  position: absolute;
  top: 0%;
  right: -35%;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 1.3em;
  cursor: pointer;
}

header span:hover{
  opacity: 0.3;
  cursor: pointer;
}

button {
  background-color: var(--botao);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.agendamentos {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  text-align: center;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

.agendamentos>div {
  margin: 10px;
  background-color: var(--section);
  max-width: 350px;
  border-radius: 30px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.16);
  text-align: center;
  padding: 20px;
}

.agendamentos>div p {
  margin: 10px auto;
}

.agendamentos h2 {
  margin: 0;
}

header #perfil {
  max-width: 50px;
  max-height: 50px;
  border-radius: 30px;
  border: 2px solid white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  width: 50px;
  height: 50px;
}

header {
  padding: 10px 20px;
}