body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, var(--botao), var(--telaFundo));
}


.containerForm {
    border-radius: 10px;
    min-width: 300px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.445);
}

.cadastro {
    width: 100%;
    height: 500px;
    background-image: url('../img/grafico\ -\ Agenda.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    margin: auto;
    border-right: 1px solid white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.cadastro p {
    font-size: 20px;
    color: black;
}

.formCadastro,
.formLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.3em;
    margin: auto;
    max-width: 18em;
    width: 100%;
    border-radius: 2em;
}

.formCadastro {
    border: 1px solid white;
}

.formLogin {
    height: 100%;
}

form h1 {
    margin: 0;
    margin-bottom: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.445);
    padding: 4px;
    border-radius: 10px;
}

form a{
    color: #ffffff6e;
    text-decoration: underline;
}

form button {
    width: 100%;
    padding: 10px;
}

form input {
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    width: 100%;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

form label {
    text-align: center;
}

.novoUsuario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.novoUsuario a {
    margin-left: 0.3em;
    color: var(--botao);
}

form input:focus{
    background-color: var(--telaFundo);
    outline: 0.15em solid blue;
    box-shadow: 2px 2px 3px #00000027;
    color: white;
    font-weight: 500;
}
form input:focus::placeholder{
    color: #ffffff80;
}

@media all and (max-width: 615px) {
    .cadastro {
        display: none;
    }

    .containerForm {
        width: 80%;
        background-image: linear-gradient(267deg, black, transparent);
    }
}