@charset "UTF-8";

#hamb {
    display: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}

/* tablet */
@media all and (max-width: 690px) {
    nav {
        display: none;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--telaFundo);
        opacity: 0.9;
        position: absolute;
    }

    nav li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
    }

    nav a {
        padding: 15px;
        color: white;
        font-size: 1.2em;
    }

    #hamb {
        display: block;
    }

    main {
        width: 100%;
    }

    .container h1 {
        font-size: 4em;
    }

    .depoimento{
        max-width: 90%;
    }
    .agendamento button{
        width: auto;
        padding: 20px;
    }
}

@media all and (max-width: 512px) {
    .contatos p{
        display: none;
    }
    .containerSocial{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container h1 {
        font-size: 3em;
    }
    .container {
        flex-direction: column;
        width: 100%;
    }

    .container img {
        width: 100%;
    }
}

@media all and (min-width: 1200px){
    section{
        margin: 30px auto;
    }
}