@charset "UTF-8";
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
  }
  .primeiroContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .info {
    flex: 1;
    padding: 20px;
    text-align: left;

  
  }
  .info p{
    max-width: 300px;

  }
  
  .image {
    max-width: 100%;
    width: 400px;
  }
  
  /* Adicione estilos adicionais de acordo com suas preferências */
  @media all and (max-width: 700px){
   
    .primeiroContainer{
      flex-direction: column;
    }
    .info{
      order: 1;
    }
  }