*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Paleta de cores */

body{
    height: 100vh;
    margin: 0;
}
header{
    background-color: blue;
    background-color: #667f94;
}