* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Paleta de cores */

body {
    height: 100vh;
    font-family: 'YAFdJvl8raw-0', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

main {
    max-width: 1200px;
    min-width: 300px;
    background-color: #000;
    width: 100%;
    margin: auto;
}

h1{
    margin: 40px auto;
}
header {
    background-color: #72162d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
header a{
    color: white;
}
nav li {
    display: inline-block;
    margin-left: 10px;
}

nav ul li a {
    padding: 20px;
    color: white;
}

a:hover, button:hover {
    opacity: 0.3;
    text-decoration: underline;
}

img {
    display: block;
    max-width: 100%;
}

/* Principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.container p {
    text-align: justify;
}

button {
    background-color: #5271ff;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    border: none;
    outline: none;
    color: white;
    font-weight: bolder;
    margin-top: 10px;
    opacity: 1.0;
    cursor: pointer;
}

.sobre{
    background-color: #72162d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.sobre p, .agendamento p{
    line-height: 1.49em;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.26em;
}
.sobre img{
    margin: 40px 0;
    width: 600px;
}
.sobre button{
    width: 60%;
    margin: 30px 0px;
}
/* agendamento */

.agendamento{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.agendamento button{
    width: 40%;
    padding: 40px;
    margin: 20px auto;
}
/* depoimento */
.containerDepoimento{
    width: 100%;
    background-color: #72162d;
}
.depoimento{
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.depoimento div{
    border: 3px solid white;
    margin: 30px auto;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    height: 250px;
    max-width: 300px;
}
.autor, .depoimento h1{
    margin-top: 30px;
    color: #a54899;
    font-weight: bolder;
}

/* footer */

footer{
    background-color: white;
    margin-top: 20px;
    text-align: center;
    color: #000;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
footer div{
    grid-row: 3;
    padding: 20px;
}